.div-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.movies-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.h3-section {
    padding: 10px 20px;
    font-size: 30px;
}

@media (max-width: 768px) {
    .h3-section {
        margin: 10px;
        padding: 5px 0px 5px 10px;
    }
}