.filtro {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 20px 0px 20px;
}

div p {
    margin: 0px 30px 0px 0px;
}

.filter-button {
    margin: 0px 10px;
}

.filter {
    background-color: rgb(15, 95, 42);
}